// Import Vendors
// mrt add less-bootstrap-3
@import "../../packages/less-bootstrap-3/lib/less/bootstrap.import.less";
// mrt add less-fontawesome-4
@import "../../packages/less-fontawesome-4/lib/less/font-awesome.import.less";


body {
    padding-top: 65px;
    padding-bottom: 50px;
    font-size: 16px;
}

#liveEditor {
    width: 100%;
    max-width: 57rem;
    height:50rem;
    resize: none;
}

#liveRender {
    width: 100%;
    max-width: 57rem;
    height:50rem;
    border-style: dashed;
    border-width: 1px;
    overflow: scroll;
}

.readWidth {
    max-width: 57rem;
    margin: 0 auto;
}

.full-width {
    width:100%;
}

@dropzoneHeight: 10rem;

.dropzone {
    width:100%;
    border-width: 1px;
    border-style: dashed;
    height:@dropzoneHeight;
}

.dropzoneText {
    text-align: center; 
    color: gray;
    margin-top: @dropzoneHeight/2 - 1.5rem;
}

.list-inline {
    margin-bottom: 0;
}

.editor.toolbar {

}

.select.file {
    cursor: pointer;
}